.navbar {
    background-color: #fcd088;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 1000;
}

@media (max-width: 1199.98px) {
    .input-column {
        margin-bottom: 20px;
    }
}

body {
    overflow: hidden;
}

#solve-button{
    width: 100%;
}

#collapseOne {
/*    max-height: 50vh;*/
    overflow-y: auto;
}

.card {
    max-height: calc(100% - 100px) !important;
}

#content {
    /*overflow-y: scroll !important;*/
    /*height: calc(100% - 80px);*/
    width: 100%;
    background-color: blue;
    flex-grow: 1;
    background-color: #242a30;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}




#window {
    width: 95%;
    height: 95%;
    margin: auto;
    filter: drop-shadow(-30px 30px 10px rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
}

/*#content-div {
    background-color: #242a30;*/
    /*height: 100%;*/
/*}*/

#window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    IE 9 -webkit-transform: translate(-50%, -50%);
    Chrome, Safari, Opera
}

@media (min-width: 992px) {
    #window {
        width: 90%;
    }
}

#bottom-icons {
    position: absolute;
    bottom: 20px;
}

#bottom-icons img {
    max-width: 100px;
}

.content {
    width: 100%;
    flex-grow: 1;
    background-color: #242a30;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    /*overflow-y: scroll;*/
    background-image: url("../Images/sun-bg.svg");
    background-repeat: no-repeat;
    background-position: center;
}

#code-content {
    overflow-y: scroll;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid white;
    border-top: 1px solid white;
}

.content-centered {
    display: flex;
    justify-content: center;
    align-items: center;
}

html, body {
    height: 100%;
    width: 100%;
    background-color: white;
    color: white;
}

.bottom-buffer{
    margin-bottom: 20px;
}

.input-string {
    width: 100%;
    height: 100%;
    font-size: 20px;
    min-height: 58px;
    text-transform: uppercase;
}

#output-column{
    min-height: 58px;
}

.output-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #fcd088;
}

.custom-button {
    font-size: 20px;
    padding: 12px 30px;
    border: 1px solid #fcd088;
    color: #202529;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: #fcd088;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.custom-button:hover {
    border: 1px solid #fcd088;
    color: #fcd088;
    background-color: transparent;
    text-decoration: none;
}

.output-container {
    color: #fcd088;
    font-size: 20px;
    padding: 12px;
    width: 100%;
    min-height: 58px;
    border: 2px solid #fcd088;
    display:flex;
    overflow-x: hidden;
    transition: border 0.5s ease;
    
}

.output-container div:nth-of-type(1) {
    margin-left: auto;
}

.output-container div:nth-last-of-type(1) {
    margin-right: auto;
}

.output-container div {
    padding-left: 0.5vw;
    padding-right: 0.5vw;
    transition: background-color 0.5s ease;
}

:root {
    --animate-delay: 0.5s;
}

/*CODE PREVIEW SECTION*/
.customNav .nav-link.active,
.nav-item.show .nav-link {
    color: #202529;
    background-color: #fcd088;
    border-color: #fcd088;
}

.customNav a {
    color: white;
}