.navbar {
    background-color: #fcd088;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 1000;
}

@media (max-width: 1199.98px) {
    .input-column {
        margin-bottom: 20px;
    }
}

#solve-button{
    width: 100%;
}

#collapseOne {
/*    max-height: 50vh;*/
    overflow-y: auto;
}

.card {
    max-height: calc(100% - 100px) !important;
}

#content {
    overflow-y: scroll !important;
    /*height: calc(100% - 80px);*/
    width: 100%;
    background-color: blue;
    flex-grow: 1;
    background-color: #242a30;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}




#window {
    /*-webkit-animation: fadein 1s;*/ /* Safari, Chrome and Opera > 12.1 */
    /*-moz-animation: fadein 1s;*/ /* Firefox < 16 */
    /*-ms-animation: fadein 1s;*/ /* Internet Explorer */
    /*-o-animation: fadein 1s;*/ /* Opera < 12.1 */
    /*animation: fadein 1s;*/
    overflow-y: scroll !important;
    width: 95%;
    height: 95%;
    margin: auto;
    filter: drop-shadow(-30px 30px 10px rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
}

/*#content-div {
    background-color: #242a30;*/
    /*height: 100%;*/
/*}*/

#window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    IE 9 -webkit-transform: translate(-50%, -50%);
    Chrome, Safari, Opera
}

#content-container {

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    IE 9 -webkit-transform: translate(-50%, -50%);
    Chrome, Safari, Opera
}

@media (min-width: 992px) {
    #window {
        width: 90%;
    }
}

html, body {
    height: 100%;
    width: 100%;
    background-color: white;
    color: white;
}

.bottom-buffer{
    margin-bottom: 20px;
}

.input-string {
    width: 100%;
    height: 100%;
    font-size: 20px;
    min-height: 58px;
    text-transform: uppercase;
}

#output-column{
    min-height: 58px;
}

.output-text {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    color: #fcd088;
}

.custom-button {
    font-size: 20px;
    padding: 12px 30px;
    border: 1px solid #fcd088;
    color: #202529;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: #fcd088;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.custom-button:hover {
    border: 1px solid #fcd088;
    color: #fcd088;
    background-color: transparent;
    text-decoration: none;
}


/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
    background-color: transparent;
    width: 100%;
    min-height: 58px;
    border: 2px solid #fcd088;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

/* Position the front and back side */
.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    
    -webkit-backface-visibility: hidden; /* Safari */
    backface-visibility: hidden;
}

.output-container {
    color: #fcd088;
    font-size: 20px;
    padding: 12px;
    width: 100%;
    min-height: 58px;
    border: 2px solid #fcd088;
}

/* Style the back side */
.flip-card-back {
    transform: rotateY(180deg);
}

