.navbar {
    background-color: #fcd088;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 1000;
}

.output {
    margin-top: 20px;
}

#solve-button{
    width: 100%;
}

#content {
    /*height: calc(100% - 80px);*/
    overflow: hidden;
    width: 100%;
    background-color: blue;
    flex-grow: 1;
    background-color: #242a30;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}


#window {
    
    width: 95%;
    height: 95%;
    margin: auto;
    border-radius: 50px;
    filter: drop-shadow(-30px 30px 10px rgba(0, 0, 0, 0.5));
    display: flex;
    flex-direction: column;
}

/*#content-div {
    background-color: #242a30;*/
    /*height: 100%;*/
/*}*/

#window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    IE 9 -webkit-transform: translate(-50%, -50%);
    Chrome, Safari, Opera
}

#content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    IE 9 -webkit-transform: translate(-50%, -50%);
    Chrome, Safari, Opera
}

@media (min-width: 992px) {
    #window {
        width: 90%;
    }
}

html, body {
    height: 100%;
    width: 100%;
    background-color: white;
    color: white;
}

.bottom-buffer{
    margin-bottom: 20px;
}

#input-string {
    width: 100%;
    height: 100%;
    font-size: 20px;
}

#output-column{
    min-height: 50px;
}

#output {
    border: 1px solid #fcd088;
    color: #fcd088;
    display: none;
    font-size: 20px;
}

.custom-button {
    font-size: 20px;
    padding: 12px 30px;
    border: 1px solid #fcd088;
    color: #fcd088;
    text-transform: uppercase;
    letter-spacing: 4px;
    background-color: transparent;
    transition: all 0.3s;
    cursor: pointer;
    text-decoration: none;
}

.custom-button:hover {
    border: 1px solid #fcd088;
    color: #202529;
    background-color: #fcd088;
    text-decoration: none;
}
